################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/robotics-project/FileContentIndex
/.vs
/__pycache__
